body {
  background-color: #F0F0F0;
}


#generalContainer {
  /*background-color: lightgreen;*/
  height: 98%;
  width: 98%;
  margin: auto;
  /*padding-top: 10px;*/
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 2px;
}

h4 {
  text-align: left;
  /*left: 30px;*/
  margin-left: 40px;
  font-size: 30px;
  margin-bottom: 15px;
}

#smallContainer {
  /*background-color: lightblue;*/
  height: 90%;
  width: 95%;
  margin: auto;
  /*margin-top: 10px;*/
}

.cartasCont {
  display: inline-block;
  /*padding: 1px;*/
  text-align: center;
  vertical-align: middle;
  margin: 1px;
  height: 240px;
  width: 218px;
  border: 2px solid black;
  /*position: relative;*/
}

#buttonId {
  background-color: orange;
  border: 10px solid yellow;
  position: absolute;
  right: 50px;
  font-size: 25px;
  border-radius: 8px;
  padding: 2px;
  height: 90px;
  width: 180px;
  opacity: 0.9;
  top: 110px;
}

#winPopupCont {
  width: 100%;
  /*height: 50px;*/
  /*background-color: lightblue;*/
  display: none;
  margin-top: 45px;
  margin-bottom: -30px;
  /*margin-bottom: 20px;*/
  /*position: absolute;*/
  /*left: 450px;*/
}

#winPopup {
  /*position: relative;*/
  width: 95%;
  height: 95%;
  background-color: lightblue;
  text-align: center;
  line-height: 100px;
  font-size:100px;
  color: yellow;
  border: 15px solid yellow;
  /*vertical-align: middle;*/
  /*margin-bottom: 20px;*/
}







