
#generalContainer {
  /*background-color: lightgreen;*/
  height: 98%;
  width: 98%;
  margin: auto;
  padding-top: 10px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h3 {
  text-align: left;
  /*left: 30px;*/
  margin-left: 40px;
  font-size: 35px;
}

#smallContainer {
  /*background-color: lightblue;*/
  height: 90%;
  width: 95%;
  margin: auto;
  margin-top: 10px
}

.cartasCont {
  display: inline-block;
  /*padding: 1px;*/
  text-align: center;
  vertical-align: middle;
  margin: 1px;
  height: 218px;
  width: 218px;
  border: 2px solid black;
  /*position: relative;*/
}

#buttonDiv {
  /*display: inline;*/
  /*margin-left: 2px;*/
  /*background-color: lightblue;*/
  /*height: 5px;*/
  /*width: 10px;*/
  /*opacity: 0.8;*/
}

#buttonId {
  background-color: orange;
  border: 2px solid black;
  position: absolute;
  right: 50px;
  /*top: 200px;*/
  font-size: 25px;
  border-radius: 8px;
  padding: 2px;
  height: 50px;
  width: 280px;
  opacity: 0.9;
}

#winPopupCont {
  width: 100%;
  /*height: 50px;*/
  /*background-color: lightblue;*/
  display: none;
  margin-bottom: 20px;
  /*position: absolute;*/
  /*left: 450px;*/
}

#winPopup {
  /*position: relative;*/
  width: 95%;
  height: 95%;
  background-color: lightblue;
  text-align: center;
  line-height: 100px;
  font-size:100px;
  color: yellow;
  border: 15px solid yellow;
  /*vertical-align: middle;*/
  /*margin-bottom: 20px;*/
}







